body {
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: black;
    font-size: 24px;
    
}
   .pixels {
    font-family: 'Silkscreen', cursive;
    
   }